html
  <head>
    <script type="text/javascript" src="bower/jquery/jquery.min.js" ></script>
    <script type="text/javascript">
      $(function()
      { $('#up').click(function()
        { $.post('/vote/up');
        });
        $('#down').click(function()
        { $.post('/vote/down');
        });
      });
    </script>
    <title>Party Panda</title>
    <link href="/styles/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="center">
      <img id="up" src="assets/thumbs_up.png">
      <img id="down" src="assets/thumbs_down.png">
    </div>
  </body>
</html>