doctype html
html(lang = "en")
    script(src="bower/jquery/jquery.min.js")
    script(type='text/javascript' src="/scripts/not_found.js")
    title Party Panda
    link(href="/styles/index.css" rel="stylesheet")
  body
    div.header.center
      span#party
      span#panda
      span#title Party Panda
    div.center
      h1 Room Not Found