.page-header
{ padding-bottom: 0px;
  position: relative;
}
.party
{ background-image: url('/assets/party_hat.png');
  background-size: 100% auto;
}
.panda
{ height: 120px;
  width: 120px;
  position: relative;
  background-image: url('/assets/panda.jpg');
  background-size: 100% auto;
}

.title
{ display: inline-block;
}

@media (min-width: 320px) {
  .panda {
    display: none;
  }
  .party {
    display: inline-block;
    position: static;
    height: 40px;
    width: 30px;
  }
  .page-header
  { width: 280px;
    margin: 20px auto 10px;
  }
  .title
  { font-size: 30pt;
  }
}

@media (min-width: 600px) {
  .panda {
    display: inline-block;
  }
  .party {
    display: inline-block;
    position: absolute;
    left: 39px;
    top: -20px;
    z-index: 1;
    height: 60px;
    width: 45px;
  
  }
  .page-header
  { width: 561px;
    height: 126px;
  }
  .title
  { font-size: 60pt;
    margin-bottom: -28px;
  }
}

.track-info
{ margin-top: 20px;
  margin-bottom: 20px;
}

.info-text
{ height: 130px;
  padding: 10px 10px;
  display: inline-block;
}
.info-line
{ max-width: 320px;
  font-size: 18pt;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.thumbs
{
}

#up, #down
{ display:none;
}
input[type=radio] + label
{ width: 200px;
  height: 200px;
  border: none;
  display: inline-block;
}
label[for=down]
{ margin-top: 30px;
  margin-right: 50px;
  background-size: 100% auto;
  background-image: url("/assets/thumbs_down.png");
}
#down:checked + label[for=down],
#down + label[for=down] > .preload
{ background-image: url("/assets/thumbs_down_select.png");
}
label[for=up]
{ margin-bottom: 30px;
  background-size: 100% auto;
  background-image: url("/assets/thumbs_up.png");
}
#up:checked + label[for=up],
#up + label[for=up] > .preload
{ background-image: url("/assets/thumbs_up_select.png");
}