#up, #down
{ display:none;
}
input[type=radio] + label
{ width: 300px;
  height: 300px;
  border: none;
  display: inline-block;
}
label[for=down]
{ margin-top: 30px;
  margin-right: 50px;
  background-size: 100% auto;
  background-image: url("/assets/thumbs_down.png");
}
#down:checked + label[for=down],
#down + label[for=down] > .preload
{ background-image: url("/assets/thumbs_down_select.png");
}
label[for=up]
{ margin-bottom: 30px;
  background-size: 100% auto;
  background-image: url("/assets/thumbs_up.png");
}
#up:checked + label[for=up],
#up + label[for=up] > .preload
{ background-image: url("/assets/thumbs_up_select.png");
}
.center
{ margin-right: auto;
  margin-left: auto;
  width: 650px;
}
.header
{ height: 140px;
  margin-bottom: 50px;
  position: relative;
}
#party
{ height: 60px;
  width: 45px;
  position: absolute;
  background-image: url('/assets/party_hat.png');
  background-size: 100% auto;
  left: 39px;
  z-index: 1;
}
#panda
{ height: 120px;
  width: 120px;
  position: absolute;
  background-image: url('/assets/panda.jpg');
  background-size: 100% auto;
  bottom: 0px;
}
#title
{ font-size: 70pt;
  position: absolute;
  left: 130px;
  bottom: -20px;
}