body
{ overflow: hidden;
  margin: 2px;
  padding: 0px;
  background: white;
  width: 300px;
  height: 200px;
  font-family: Trebuchet, Arial, sans-serif;
  font-size: 14px;
  position: relative;
}

input:not([type]),
input[type="text"]
{ border: 2px solid #444; border-radius: 5px;
  color: #333;
  outline: none;
  padding-right: 4px;
  padding-left: 4px;
  font-size: 13px;
  font-weight: bold;
}

input:not([type]).subtle,
input[type="text"].subtle
{ border-color: #DDD;
}

input:not([type]):hover,
input[type="text"]:hover
{ border-color: #999;
  color: #666;
}

input:not([type]):focus,
input[type="text"]:focus
{ border-color: #333;
  color: #333;
}

a
{ color: #33C;
  text-decoration: none;
  display: inline-block;
  outline: none;
}
a:link, a:visited
{ 
}
a:hover, a:active, a:focus
{ text-decoration: underline;
}

.header
{ height: 24px;
  margin-bottom: 10px;
  position: relative;
}
.title
{ width: 140px;
  display: block;
  text-align: center;
  position: relative;
  z-index: 1;
  line-height: 18px;
  margin: 0 auto;
  text-overflow: ellipsis;
  -moz-transition: width 150ms; -webkit-transition: width 150ms;
  -o-transition: width 150ms; transition: width 150ms;
}
.title:focus
{ text-overflow: none;
  width: 100%;
}
.header .switch
{ position: absolute;
  right: 0;
  top: 0;
}

.view
{ display: none;
}

.footer
{ position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer-link
{ font-size: 16px;
  width: 100%;
}
.footer-link a
{ 
}
.footer-description
{ width: 100%;
}

.cf:before,.cf:after{content:" ";display:table;}
.cf:after{clear:both;}